.top-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr;

    grid-template-areas:
    'left logo right';
    'second-header';
}

.header-left-links{
    grid-area: left;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.header-logo{
    grid-area: logo;
    display: flex;
    align-content: center;
    justify-content: center;

}

.logo{
    width: 150px;

}

.header-right-links{
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* text-decoration: none; */
}

li > a{
    text-decoration: none;
    padding: 5px;
    color: #807877;
}

li > a:hover {
    color: blue;
}

.search-bar {
    /* display: inline-flex; */
    justify-content: center;
    z-index: 0;
    position: absolute;
}

.searchbtn{
    height: 58px;
    width: 500px;
    text-decoration: none;
    border-radius: 5px;
    /* display: inline-flex; */
    z-index: 0;
    position: absolute;
    /* left: 440px; */
    margin: 130px 450px;
}


.catch-phrase{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    z-index: 1;
    margin: 80px 470px;

}

 .home_img{
    background-position: 60% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    z-index: -1;
    position: absolute;
    top: 100px;
    /* bottom: ; */

    left: 0px;

 }

.btn {
    position: absolute;
    margin: 130px 900px;
    height: 55px;
    width: 50px;
    background-color: white;
    border: none

}

.homes4u {
    border-bottom: solid 1px grey;
    margin: 0 100px;
    padding-bottom: 10px;
}

.part3body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas:
    'buy sell rent';
    margin: 60px 100px;
    height:500px;
    
}

.first-box {
    grid-area: buy;
    border: solid 1px lightgray;
    margin: 0 10px;
}

.buy-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-txt {
    font-size: large;
    margin: 0 20px;

}

.sell-txt {
    font-size: large;
    margin: 0 20px;
}

.rent-txt {
    font-size: large;
    margin: 0 20px;
}

.sell-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rent-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-home {
    width: 400px;
    height: 230px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}


.second-box{
    grid-area: sell;
    border: solid 1px lightgray;
    margin: 0 10px;
}

.sell-home {
    width: 400px;
    height: 230px;
}

.third-box {
    grid-area: rent;
    border: solid 1px lightgray;
    margin: 0 10px;
}

.rent-home{
    width: 400px;
    height: 230px;
}
